.btn {
  max-width: 150px;
  max-height: 45px;
  padding: 14px 24px 12px 24px;
  border-radius: 60px;
  border: 2px;
  border: 2px solid #0a0a0a;
  background: linear-gradient(0deg, #ffffff, #ffffff);
  cursor: pointer;
  margin-left: auto;
}
